{% extends 'base.html.twig' %}

{% block title %}Tuin blogs {% endblock %}

{% block body %}
    <h1>Blog index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titel</th>
                <th>Beschrijving</th>
                <th>Auteur</th>
                <th>afbeelding</th>
                <th>acties</th>
            </tr>
        </thead>
        <tbody>
        {% for blog3 in blog3s %}
            <tr>
                <td>{{ blog3.id }}</td>
                <td>{{ blog3.Titel }}</td>
                <td>{{ blog3.Beschrijving | raw }}</td>
                <td>{{ blog3.Auteur }}</td>
                <td><img class="image2" src="{{ vich_uploader_asset(blog3, 'imageFile') }}"  alt="imageName"/></td>
                <td>
                    <a href="{{ path('blog3_show', {'id': blog3.id}) }}">show</a>
                    <a href="{{ path('blog3_edit', {'id': blog3.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('blog3_new') }}">Create new</a>
{% endblock %}
